# Node modules
node_modules/
credentials.json

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv environment variables
.env
.env.*
prod.env.yaml

# OS files
.DS_Store
Thumbs.db

# Dependency directories
.pnpm/
.cache/
dist/
build/

# VS Code settings
.vscode/

# Optional: If using PM2, ignore logs
pids/
*.pid
*.seed
*.pid.lock

echo "front-end/full-stack-react-f8242-firebase-adminsdk-fbsvc-31cd182a3b.json" >> .gitignore

